<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Todo List</span>
      <a _ngcontent-eij-c55="" mat-button="" routerlink="guides" routerlinkactive="docs-navbar-header-item-selected" class="docs-navbar-hide-small docs-button mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base" href="/guides" aria-disabled="false"><span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span class="mdc-button__label">Guides</span><span class="mat-mdc-focus-indicator"></span><span matripple="" class="mat-ripple mat-mdc-button-ripple"></span><span class="mat-mdc-button-touch-target"></span></a>
      <span class="example-spacer" ></span>
      <button class="button-icon"  mat-menu-item>
        <mat-icon class="icon-color">power_settings_new</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
