<mat-card>
    <mat-card-title>	<mat-icon>assignment_turned_in</mat-icon>{{uiState.isCreate ? 'Create Task' : 'Update Task'}} </mat-card-title>
    <mat-card-content>
        <form [formGroup]="todoFormGroup">
            <!-- Title Contro; -->
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input type="text" matInput placeholder="Title" formControlName="title">

                <!-- Validation Message -->
                <mat-error
                    *ngIf="(uiState.isSubmitting && todoFormGroup.get('title')?.hasError('required') || todoFormGroup.get('title')?.touched && todoFormGroup.get('title')?.hasError('required'))">
                    Title is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <!-- Note Control -->
            <mat-form-field appearance="outline">
                <mat-label>Note</mat-label>
                <input type="text" matInput placeholder="Note" formControlName="note">
                <!-- Validation Message -->
                <mat-error
                    *ngIf="(uiState.isSubmitting && todoFormGroup.get('note')?.hasError('required') || todoFormGroup.get('note')?.touched && todoFormGroup.get('note')?.hasError('required'))">
                    Note is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <!-- Priority Option -->
            <p>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="priority" required>
                        <mat-option>-- None --</mat-option>
                        <mat-option *ngFor="let item of uiState.priorityOption"
                            [value]="item.title">{{item.title}}</mat-option>
                    </mat-select>
                    <mat-label>Priority</mat-label>
                    <mat-error
                        *ngIf="(uiState.isSubmitting && todoFormGroup.get('priority')?.hasError('required') || todoFormGroup.get('priority')?.touched && todoFormGroup.get('priority')?.hasError('required'))">
                        Priority is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </p>

                <!-- status Option -->
                <p>
                  <mat-form-field appearance="outline">
                      <mat-select formControlName="status" required>
                          <mat-option>-- None --</mat-option>
                          <mat-option value="ToDo" selected>To-Do</mat-option>
                          <mat-option value="Done" selected>Done</mat-option>
                      </mat-select>
                      <mat-label>Status</mat-label>
                  </mat-form-field>
              </p>
            <!-- On Submit -->
            <div class="button">
              <button *ngIf="uiState.isCreate" mat-raised-button color="primary" [class.spinner]="uiState.isLoading"
              [disabled]="uiState.isLoading" (click)="createTask()">
              Create
          </button>
                <button *ngIf="!uiState.isCreate" mat-raised-button color="primary" [class.spinner]="uiState.isLoading"
                    [disabled]="uiState.isLoading" (click)="updateTask()">
                    Update
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
