
<div class="container" *ngIf="!uiState.isLoading" >
  <mat-card>
    <mat-list role="list" style="height: 20px;">
      <mat-list-item class="listitem" (click)="setStatus('ALL')" [class.active]="uiState.selectedStatus === 'ALL'" role="listitem">ALL</mat-list-item>
      <mat-list-item class="listitem" (click)="setStatus('TODO')"  [class.active]="uiState.selectedStatus === 'TODO'"role="listitem">TODO</mat-list-item>
      <mat-list-item  class="listitem" (click)="setStatus('Done')" [class.active]="uiState.selectedStatus === 'Done'"  role="listitem">Done</mat-list-item>
    </mat-list>
  </mat-card>

  <div *ngFor="let item of todo">
    <mat-card  class="example-card">
      <mat-card-header>
         <mat-icon [ngClass]="item.priority ==='Low' ? 'priority-low' : 'priority-high'">label_important</mat-icon>
        <mat-card-subtitle [ngClass]="item.status ==='ToDo' ? 'to-do' : 'done'">{{item.status}}</mat-card-subtitle>
        <mat-card-title >{{item.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{item.note}}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="removeTask(item)" mat-icon-button color="warn" mat-button><mat-icon>delete</mat-icon></button>
        <button  [routerLink]="'edit/'+ item.id"  mat-icon-button color="primary" mat-button><mat-icon>edit</mat-icon></button>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </div>

</div>

 <div *ngIf="uiState.isLoading">
    <div class="wrapper">
      <div class="spinner">
        <div class="spinner-1"></div>
        <div class="spinner-2"></div>
        <div class="spinner-3"></div>
      </div>
    </div>
  </div>
