
<div class="container" *ngIf="!uiState.isLoading" >
  <div *ngFor="let item of todo">
    <mat-card  class="example-card">
      <mat-card-header>
         <mat-icon [ngClass]="item.priority ==='Low' ? 'priority-low' : 'priority-high'">label_important</mat-icon>
        <mat-card-subtitle [ngClass]="item.status ==='ToDo' ? 'to-do' : 'done'">{{item.status}}</mat-card-subtitle>
        <mat-card-title >{{item.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{item.note}}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="removeTask(item)" mat-icon-button color="warn" mat-button><mat-icon>delete</mat-icon></button>
        <button  [routerLink]="'edit/'+ item.id"  mat-icon-button color="primary" mat-button><mat-icon>edit</mat-icon></button>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </div>

</div>

<!-- Loader -->
 <div *ngIf="uiState.isLoading">
    <div class="wrapper">
      <div class="spinner">
        <div class="spinner-1"></div>
        <div class="spinner-2"></div>
        <div class="spinner-3"></div>
      </div>
    </div>
  </div>
